
.hero{
  padding: 1rem;
  width: 100rem;
  color: #333;
   position: relative;
  }


.hero h1{
  position: absolute;
      top: 65px;

}

 article img{
  position: absolute;
  float: right;
  width: 200px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin:0 0 1rem;
  text-align: center;

}

.hero article p{
position: absolute;
}
 section img{
  display: block;
 }

 footer {
  margin-top: 1em;
  border: top 1px;
  text-align: center ;
}