
.hero{
  padding: 1rem;
  background-color: #eee;
  position: relative;
 }


main h1{
  position:absolute;
  padding: 1rem;
  background-color: aqua;
}

.hero article p{
position: absolute;
}
 section img{
  display: block;
 }

 footer {
  margin-top: 1em;
  border: top 1px;
  text-align: center ;
}re