
.hero{
  padding: 1rem;
  background-color: #eee;
  position: relative;

  }


.hero h1{
  position:
}
.hero article p{
position: absolute;
}
 section img{
  display: block;
 }

 footer {
  margin-top: 1em;
  border: top 1px;
  text-align: center ;
}