/* Import selected fonts from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #333;
  --secondary-color: #4682b447;
  --accent1-color: #4da1a9;
  --accent2-color: #0cdef1;
  --additional-accent-color: #2e5077;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
  --nav-background-color: #0f8bd3;
  --nav-link-color: #e225258e;
  --nav-hover-link-color: #b81c1c0c;
  --nav-hover-background-color: #0a90e9;
}


/* Apply font families to different elements */
h2, h3, h4, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  padding: 0.9%;
  margin: 0 auto;
}

p, ul{
  font-family: var(--paragraph-font);
  color: #000;
  margin:  0 10%;
  margin-left: 20px;
  overflow: hidden;
}
body{
    font-family: var(--paragraph-font);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #f1f1f1;;
}

header {
    padding: 10px; 
    background-color: var(--secondary-color); /*secondary color variable */
  }
header h1, h2{
  text-align : center;
}

 nav {
    font-size: 1.2rem;
    display: flex;
    background-color: steelblue;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20%;
    margin-left: 20px;
    }
  
  nav a {
    color: #333; /* Use the navigation link color variable */
    text-decoration: none; /* Remove underline from links */
    padding: 1rem;
    display: block;
  }
  
  nav a:hover {
    color: #fff; /* Use the navigation hover link color variable */
    background-color: var(--nav-hover-background-color); /* Use the navigation hover background color variable */
  }

  a:visited{
    color: var(--nav-link-color);
  }

  .wireframe{
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    margin-left: 60px;
    max-width: 90%;
  }
  .wireframe h3{
    text-decoration: underline;
  }

  footer {
    margin-top: 15px;
    border-top: 1px dotted #000;
    text-align: center;
    color: #fff;
    background-color: steelblue;
  }
   
