body {
    font-family:  Roboto sans-serif;
    max-width: 960px;
    padding: 20px;
    height: 100%
  }
  
  
  nav {
    font-size: 1.2rem;
    display: flex;
  }
  main{
    width: fit-content;
    height: 100%;
  }

p {
  padding: 25px;
}
  nav a {
    display: block;
    color: steelblue;
    text-decoration: none;
    padding: 1rem;
    color: #000;
  }
  
  nav a:link, nav a:visited {
    color: #c13584;
  }
  
  nav a:hover {
    color: gray;
    background-color: azure;
  }
  
  
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: gray;
  } 
  
 header {
    padding: 20px;
    background-color: silver;
  } 