*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
   
}

form {
    margin: 20px auto;
    padding: 20px;
    background: #f1f1f;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.425);
    width: 100%;
    max-width: 600px;
    justify-content: end;
    text-align: center;
}

h1 {
    text-align: center;
    margin-right: 60px;
    padding-bottom: 6px;
    text-shadow: 2px 2px 2px black;
    border-bottom: 3px solid #ffffff;
}

label {
    margin-bottom: 1px;
    font-weight: bold;
    width: 50%;
    margin: 4px 4px;
    display: block;
}

strong {
color: #f32626
}

input {
    flex-direction: column;
    padding: 0 15px;
    border: 1px solid ;
    border-radius: 7px;
    height: 40px;
    outline: none;
    border: 1px solid grey;
    margin-right: 35px;
} 
.a{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin: 10px 40px;

}
.box{
    background: #fff ;
    box-sizing: border-box;
    border-radius: 7px;
}

.box input{
    position: absolute;
    color: #f1f1f1;
    width: 2%;
    left: 60px;
    
}

.box span{
    display: block;
    padding: 10px;
    width: 100%;

}


.o,.d {
    display: flex;
    margin: 2px 2px;
    margin-bottom: 20px;
    width: 100%;
}


input[type="radio"]{
display: block;
max-width: 3%;
margin: 2px;
padding: 0;
}

span{
    display: flex;
    margin: 3px 0;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

input:focus{

}

button[type="submit"] {
    background-color:#0c52e9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000;
    transform: rotateY('30');
    transition: 0.9s ;
}
